force-app/main/default/flows/Check_for_Delays.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set the Is_Delayed checkbox to True and the Status to Delayed</description>
        <name>Set_Delayed</name>
        <label>Set Delayed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Is_Delayed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delayed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Delayed_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the Current Date is after the ETA date to see if the shipment is delayed.</description>
        <name>Is_Delayed</name>
        <label>Is Delayed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Delayed_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, On time</defaultConnectorLabel>
        <rules>
            <name>Yes_is_Delayed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.ETA__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Delayed</targetReference>
            </connector>
            <label>Yes is Delayed</label>
        </rules>
    </decisions>
    <description>Checks for Delayed Shipment Records and updates the Status and Is_Delayed fields.</description>
    <environments>Default</environments>
    <interviewLabel>Check for Delays {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check for Delays</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update the Records that have had their statuses changed.</description>
        <name>Update_Delayed_Records</name>
        <label>Update Delayed Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Delayed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Transit</stringValue>
            </value>
        </filters>
        <object>Shipment__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-11-04</startDate>
            <startTime>14:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
