force-app/main/default/flows/Route_Metrics_Event_Subscriber.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Route_Metric_Found</name>
        <label>Route Metric Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Route_Metric</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Route_Metric</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Route_Metric</targetReference>
            </connector>
            <label>Yes Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Route Metrics Event Subscriber {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Route Metrics Event Subscriber</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Route_Metric</name>
        <label>Create Route Metric</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Average_Risk__c</field>
            <value>
                <elementReference>$Record.Average_Risk__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Route_ID__c</field>
            <value>
                <elementReference>$Record.Shipping_Route_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Route_Name__c</field>
            <value>
                <elementReference>$Record.Shipping_Route_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Distance__c</field>
            <value>
                <elementReference>$Record.Total_Distance__c</elementReference>
            </value>
        </inputAssignments>
        <object>Route_Metric_Cache__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Existing_Route_Metric</name>
        <label>Find Existing Route Metric</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Route_Metric_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shipping_Route_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shipping_Route_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Route_Metric_Cache__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Route_Metric</name>
        <label>Update Route Metric</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Find_Existing_Route_Metric</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Existing_Route_Metric</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Route_Metrics_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
